{
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
